.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-header, footer {
  background-color: #0D0D0D;
  color: #D90452;
}

.App-header {
  position: relative;
  height: 500px;
  overflow: hidden;
}

#particleCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.App-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #D90452; 
  font-size: 140px;
  font-family: 'Bebas Neue', sans-serif;
}

section, .App-header, footer {
  padding: 20px 0;
}

footer {
  padding: 10px 0;
}


.about-section {
  padding: 30px; 
  background: linear-gradient(to bottom, #0D0D0D, #8C0335); 
  text-align: center; 
  overflow: hidden; 
}

.about-section h2 {
  font-size: 80px;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 10px;
}

.about-section p {
  font-family: 'Bebas Neue', sans-serif;
  color: #D90452;
  font-size: 30px;
  margin-top: 10px;
}

.tools-section {
  background-color: #8C0335;
  margin: 0;
}

.tools-section {
  font-size: 80px;
  font-family: 'Bebas Neue', sans-serif;
  color: #26010F; 
}

.tools-section p{
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  color: #26010F; 
}


.gallery-section {
  padding: 30px; 
  background-color: #8C0335;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gallery-section h2 {
  font-size: 80px;
  font-family: 'Bebas Neue', sans-serif;
  color: #26010F; 
}

.contact-section {
  margin: 0;
  background-color: #8C0335;
}

.contact-section h2 {
  font-size: 80px;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 10px;
  color: #26010F; 
}


footer p {
  margin: 0;
}

.gallery-section .slick-slide img {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); 
  transition: all 0.3s ease-in-out;
}

.gallery-section .slick-slide img:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

.gallery-section .slick-slider {
  perspective: 2000px;
  overflow: visible;
}

.gallery-section .slick-slide {
  transform: rotateY(10deg) scale(0.9);
  transition: transform 0.3s;
}

.gallery-section .slick-center {
  transform: rotateY(0deg) scale(1);
  z-index: 2;
}

.gallery-section .slick-list {
  left: 1.4vw;
}


.gallery-section .slick-center {
  transform: rotateY(0deg) scale(1);
  z-index: 2;
  position: relative;
}

.gallery-section .slick-slide img {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); 
  transition: all 0.5s ease-in-out;
  filter: grayscale(100%);
}

.gallery-section .slick-center img {
  filter: grayscale(0%);
}